const prod = process.env.NODE_ENV === 'production';

module.exports = {
  __DEV__: !prod,
  __ENV__: {
    etsyApiKey: '',
    host: prod ? 'https://evergreenroots.com' : 'http://localhost:3000',
  },
};
